<p id="notice"><%= flash[:notice] %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'users/userinfo', userid: @user, book: @book %>
      </div>
      <div class="col-md-8 offset-md-1">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <h2>Book detail</h2>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div>
                 <%= image_tag @bookid.user.get_profile_image(80,80)%>
                </div>
                <div>
                 <%= link_to "#{@bookid.user.name}", user_path(@bookid.user_id) %>
                </div>
              </td>
              <td>
                <%= link_to "#{@bookid.title}", book_path %>
              </td>
              <td>
                <%= @bookid.body %>
              </td>
              <% if @bookid.user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path, class:"btn btn-sm btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@bookid), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %>
              </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>